<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="webjars/bootstrap/3.4.1/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>

	<section>

		<div class="container">
			<div class="pb-2 mt-4 mb-2">
				<h2>
					Pagina gestione contatti OpenShift<small> - Lista record</small>
				</h2>
			</div>

			<table>
				<thead>
					<tr>
						<th>Nome</th>
						<th>Cognome</th>
						<th>Username</th>
					</tr>
				</thead>

				<tbody th:each="$c of $lista">
					<tr>
						<td th:text="$c.nome"></td>
						<td th:text="$c.cognome"></td>
						<td th:text="$c.username"></td>
					</tr>
				</tbody>
			</table>

		</div>

	</section>

</body>
</html>